# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_FINGER6_LEFT

    config ZMK_KEYBOARD_NAME
        default "finger6"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif

if SHIELD_FINGER6_LEFT || SHIELD_FINGER6_RIGHT

    config ZMK_SPLIT
        default y

endif